<!DOCTYPE html>
<html ng-app="bitcoinApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- dependencies -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular-websocket/angular-websocket.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>

</head>
<body >
  <div class="container">
  <div class="page-header">
    <h1>Bitcoin Transactions</h1>
  </div>
    <div class="row" ng-controller="TransactionData">
      <div class="transaction-container col-md-8" >
      <div fill-tub chart-total="totalTransactions" chart-transactions="transactions"></div>

     <!--    <div id='transaction-container' ng-repeat="transaction in transactions track by $index">{{ transaction }}</div> -->
      </div>
      <div class="col-md-4 dashboard">
        <h3 style="text-align: center;">Live Total Transactions</h3>
         <div class="alert alert-info" id="total-transactions" role="alert" >฿{{ totalTransactions }}</div>
         <h3 style="text-align: center;">Time Tracked</h3>
          <div class="alert alert-warning" id="total-transactions" role="alert" total-time>{{ totalTime }} seconds</div>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="resetTransactions()">Reset    <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span></button> 

        <h4 style="text-align: center">Display Currency</h4>
        <div class="row">
          <div class="col-sm-4">
            <button type="button" class="btn btn-default btn-sm btn-block" ng-click="getExchangeRate('BTC')">BTC</button> 
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-default btn-sm btn-block" ng-click="getExchangeRate('USD')">USD</button> 
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-default btn-sm btn-block" ng-click="getExchangeRate('CNY')">CNY</button> 
          </div>
        </div>
        <div class="row">
          <!-- show currently selected currency exchange -->
          <div class="alert alert-success col-md-12" role="alert">
            <h4>1 BTC = {{ exchangeRate }} {{ exchangeCurrency }}</h4>
          </div>
        </div>
      </div>
  </div>

  <script src="app.js"></script>
  <script src="lib/filltub.js"></script>
  <script src="lib/exchangeRates.js"></script>
</body>
</html>
