<!DOCTYPE html>
<html ng-app="bitcoinApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- dependencies -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular-websocket/angular-websocket.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>

</head>
<body >
  <div class="container">
  <div class="page-header">
    <h1>Bitcoin Transactions</h1>
  </div>
    <div class="row" ng-controller="TransactionData">
      <div class="transaction-container col-md-8" >
      <div fill-tub chart-total="totalTransactions" chart-transactions="transactions"></div>

     <!--    <div id='transaction-container' ng-repeat="transaction in transactions track by $index">{{ transaction }}</div> -->
      </div>
      <div class="col-md-4">
      <div>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="resetTransactions()">Reset    <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span></button> 
         <div class="alert alert-info" id="total-transactions" role="alert" >฿{{ totalTransactions }}</div>
      </div>
    </div>
  </div>

  <script src="app.js"></script>
  <script src="lib/filltub.js"></script>
</body>
</html>
